{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <img src="{{ species.image if species.image.startswith('http') else url_for('static', filename=species.image) }}" class="img-fluid" alt="{{ species.name }}">
  </div>
  <div class="col-md-6">
    <h2>{{ species.name }}</h2>
    <p>{{ species.description }}</p>
    <audio controls>
      <source src="{{ url_for('static', filename=species.audio) }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
</div>
<a href="/" class="btn btn-secondary mt-4">Back to tour</a>
{% endblock %}
